/* About me */

.aboutme {
  /* background-color: antiquewhite; */
}

.line1 {
  color: rgb(225, 152, 152);
  font-weight: bolder;
  font-size: 4vw;
}

.line2 {
  color: #a4a845;
  font-weight: bolder;
  font-size: 6vw;
}

.line3 {
  color: #657928;
  font-weight: 500;
  font-size: 1.5vw;
}

@media (max-width: 768px) {
  .line1 {
    font-size: 6vw;
  }

  .line2 {
    font-size: 8vw;
  }

  .line3 {
    font-size: 2vw;
  }
}