.upLeavesDeco {
    display: flex;
    width: 10vw;
    height: 15vw ;
    background-color: #788403;
    border: #788403 solid 0.8vw;
    /* box-shadow: 0 0 1vw 0.1vw #36a2c4; */
    box-shadow: 0.5vw 1.5vw 0vw 0.5vw #08775f;
    border-radius: 30vw 0 28vw 0vw;
    margin-right: 3vw;
    overflow: hidden;
    transform-origin: bottom;
    flex-shrink: 0;
    z-index: -1;
  
    rotate: 20deg;
    translate: -10vw 2vw;
    opacity: 0.9;
  }
  
  
  .downLeavesDeco {
    display: flex;
    width: 10vw;
    height: 15vw;
    background-color: #788403;
    border: #788403 solid 0.8vw;
    /* box-shadow: 0 0 1vw 0.1vw #36a2c4; */
    box-shadow: -0.5vw -1vw 0vw 0.1vw #08775f;
    border-radius: 20vw 0vw 20vw 0vw;
    rotate: 85deg;
    translate: 2vw -4vw;
  
    margin-right: 5vw;
  
    overflow: hidden;
    flex-shrink: 0;
    z-index: -1;
  }
  
  .leaveContainerDeco {
    display: flex;
    flex-direction: column;
    /* width: 10vw;
    height: 8vw; */
    gap: 0.5vw;
  
    transition: 0.9s; 
    rotate: -35deg; /* sombras de hojas*/
    cursor: pointer;
    
  
   
  }
  
  .leaveContainerDeco:hover {
    opacity: 1 ; 
    transition: 0.5s;
  }
  
  .fracDeco {
    display: flex;
    width: 30vw; /* sombras de hojas tamanio*/
    background-color: rgba(144, 150, 79, 0.822);
  }
  
  .upLeaveDeco {
    flex: 1;
    min-height: 9vw;
    justify-content: center;
    background-size: cover;
    background-position: -2vw -1.4vw;
    background-repeat: no-repeat;
  }
  
  .downLeaveDeco {
    flex: 1.5;
    justify-content: center;
  }
  
  

  /* Corner deco */

  .cornerDecor{
    padding: 2vw;
  }
  .cornerRightLDeco{
    
    width: 15vw;
    height: 10vw ;
    background-color: #788403;
    border: #788403 solid 0.8vw;
    /* box-shadow: 0 0 1vw 0.1vw #36a2c4; */
    box-shadow: 0.5vw 1.5vw 0vw 0.5vw #08775f;
    border-radius: 30vw 0 28vw 0vw;
    overflow: hidden;
    transform-origin: bottom;
    flex-shrink: 0;
    z-index: -1;
  
    transform: rotate(85deg) translate(-5vw, -10vw);
    opacity: 0.9;
  }

  .cornerLeftLDeco{
    display: flex;
    width: 10vw;
    height: 15vw ;
    background-color: #788403;
    border: #788403 solid 0.8vw;
    /* box-shadow: 0 0 1vw 0.1vw #36a2c4; */
    box-shadow: 0.5vw 1.5vw 0vw 0.5vw #08775f;
    border-radius: 30vw 0 28vw 0vw;
    overflow: hidden;
    transform-origin: bottom;
    flex-shrink: 0;
    z-index: -1;
  
    rotate: 120deg;
    translate: -5vw -25vw;
    opacity: 0.9;
  }

  
  @media(max-width: 768px) {
    /* .upLeavesDeco {
      width: 48vw;
      height: 32vw;
    }
    .downLeavesDeco {
      border-radius: 30vw 0 28vw 0vw;
      width: 48vw;
      height: 32vw;
  
      translate: -3vw -0.5vw;
    }
    .leaveContainerDeco {
      width: 44vw;
      height: 40vw;
    }
  
    .downLeaveDeco {
      flex: 1;
    }
    
    .textContainerDeco {
      font-size: 2vw;
      width: 30vw;
    }
    .proyectTitleDeco {
      font-size: 2vw;
    }
  
    .fracDeco {
      width: 60vw;
    }
    
    .upLeaveDeco {
      min-height: 18vw;
      background-position: -2vw -1.4vw;
    } */
    
  }