.contactContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #98cae8;
    /* background-color: #332528; */

    height: 100vh
}


.titleContact{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex: 1;

    background-color:#98cae8;
}

.titleContact h2{
    font-size: 3.5vw;
    color: white;
    
}

/*      UP CONTAINER START       */
.upContactContainer{
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    
    width: 100%;

}

.sectionRight {
    /* background-color: antiquewhite; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    align-items: center; 
}

.sectionLeft{
    /* background-color: antiquewhite; */
    flex: 1;
    display: flex;  
    align-items: center; 
}


.cornerDecor{
    padding: 0vw;
    margin: 0vw; 
}

/*      UP CONTAINER END       */

.middleContactContainer{
    flex: 4;
}

.wave{
    flex: 1;
    width: 100vw;
    background-color:rgb(95, 170, 255) ;
    border-radius: 30vw/5vw 5vw 0 0
}
.downContactContainer{
    flex: 4;
    width: 100vw;
    /* background-color: rgb(95, 170, 255);
    border-radius: 30vw/5vw 5vw 0 0 ; */
  
    background-image: radial-gradient(ellipse farthest-corner at 50vw 1vw , rgb(95, 170, 255) 50vw, rgba(255, 255, 255, 0.918) 0%, #21643b 50%); */


    /* width: 100%;
    background-image: radial-gradient(ellipse farthest-corner at 30vw 1vw , #4580ff 50vw, rgba(17, 80, 17, 0.918) 0%, #077e35 50%);  */
}







/* .contactContainer h1{
    color: white;
    font-size: 3vw;

} */

