.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home .content {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1vw;
  margin: 2vw;
}

.stats {
  flex: 1;
  background-color: rgb(41, 105, 84);
}
.dropContainer {
  display: flex;
  /* background-color: aqua; */
  
  
  padding-top: 1vw;
  overflow: hidden;
}

.dropdesign {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 1vw;

  width: 50vw;
  height: 25vw;
  background-color: #788403;
  border-radius: 30vw 0 25vw 0;
}

@media (max-width: 768px) {
  .home {
    flex-direction: row;
  }

  .home .content {
    flex: 1;
    
  }

  .dropdesign {
    display: flex;
    justify-content: center;
    align-items: end;
  
    width: 90vw;
    height: 40vw;
  
    height: 50vw;
    background-color: #788403;
    border-radius: 30vw 0 25vw 0;
  }

}