.upLeaves {
  display: flex;
  width: 24vw;
  height: 16vw ;
  background-color: #788403;
  border: #788403 solid 0.8vw;
  /* box-shadow: 0 0 1vw 0.1vw #36a2c4; */
  box-shadow: 0.5vw 1.5vw 0vw 0.5vw #08775f;
  border-radius: 30vw 0 28vw 0vw;
  margin-right: 9vw;

  overflow: hidden;
  transform-origin: bottom;
  flex-shrink: 0;
  z-index: -1;

  opacity: 0.9;
}


.downLeaves {
  display: flex;
  width: 24vw;
  height: 16vw;
  background-color: #788403;
  border: #788403 solid 0.8vw;
  /* box-shadow: 0 0 1vw 0.1vw #36a2c4; */
  box-shadow: -0.5vw -1vw 0vw 0.1vw #08775f;
  border-radius: 20vw 0vw 20vw 0vw;
  rotate: 85deg;
  translate: -3vw -0vw;
  margin-bottom: 3vw;
  margin-right: 5vw;

  overflow: hidden;
  flex-shrink: 0;
  z-index: -1;
}

.leaveContainer {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 24vw;
  gap: 0.5vw;

  transition: 0.9s;
  rotate: -35deg;
  cursor: pointer;

 
}

.leaveContainer:hover {
  opacity: 1 ; 
  transition: 0.5s;
}

.frac {
  display: flex;
  width: 30vw;
  background-color: rgba(144, 150, 79, 0.822);
}

.upLeave {
  flex: 1;
  min-height: 9vw;
  justify-content: center;
  background-size: cover;
  background-position: -2vw -1.4vw;
  background-repeat: no-repeat;
}

.downLeave {
  flex: 1.5;
  
  justify-content: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1vw;
  width: 15vw;

  transition: 0.5s;
}
.proyectTitle {
  color: #cbf3ff;
  font-size: 1vw;
  font-weight: bold;
  transition: 0.5s;
}

@media(max-width: 768px) {
  .upLeaves {
    width: 48vw;
    height: 32vw;
  }
  .downLeaves {
    border-radius: 30vw 0 28vw 0vw;
    width: 48vw;
    height: 32vw;

    translate: -3vw -0.5vw;
  }
  .leaveContainer {
    width: 44vw;
    height: 40vw;
  }

  .downLeave {
    flex: 1;
  }
  
  .textContainer {
    font-size: 2vw;
    width: 30vw;
  }
  .proyectTitle {
    font-size: 2vw;
  }

  .frac {
    width: 60vw;
  }
  
  .upLeave {
    min-height: 18vw;
    background-position: -2vw -1.4vw;
  }
  
}