.iconContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1vw;

  background-image: url("../img/container.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s;

  z-index: 100;
}

.iconContainer:hover {
  background-color: #ffc85a7e;
  
  /* X, Y, Opacity */
  box-shadow: 0vw 0vw 0.8vw #ffc85a7e;
 
  border-radius: 1vw;
  cursor: pointer;
  transform: scale(1.2) !important;
  transition: 0.5s;
}

.icon {
  width: 8vw;
  height: 6vw;
  margin: 10px;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.iconRow {
  width: 4vw;
  height: 3vw;
  margin: 3vw;


  border-radius: 20px;
}



@media(max-width: 768px) {


  .iconContainer:hover {
    transform: scale(1.1) !important;
  }

  .iconContainer {
    padding: 2vw;
  }

  .technologies .icon {
    width: 16vw;
    height: 14vw;
  }
  
}