.techContainer {
  display: flex;
  flex-direction: column;
  margin: 2vw;
}


.techContainer h1 {
  font-size: 2vw;
  margin: 1vw 1vw 0vw 1vw;
}

.technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  padding: 1vw;
  margin: 1vw;
}

@media (max-width: 768px) {
  .techContainer h1 {
    font-size: 4vw;
  }

  
}